@import url("../../.cache/wal/colors-waybar.css");

* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 16px;
}

window#waybar {
  background: rgba(15,10,36,0.8);
  border: solid @foreground 1px;
  border-radius: 10px;
  color: @background;
}

#workspaces button {
  color: @color2;
  background: transparent;
  padding: 0px;
  padding-left: 3px;
  padding-right: 3px;
}

#workspaces button.visible {
  color: @foreground;
}

#workspaces button.focused {
  color: @foreground;
}

#workspaces button.urgent {
  color: #11111b;
}

#workspaces button:hover {
  background: transparent;
}

#clock,
#idle_inhibitor,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#backlight,
#battery,
#tray {
  color: @foreground;
  padding: 8px;
}

tooltip {
  border-radius: 8px;
  color: @foreground;
  background-color: @background;
}
