@import url("../../.cache/wal/colors-waybar.css");

* {
  font-family: Hack Nerd Font;
  font-weight: bold;
  font-size: 16px;
}

window#waybar {
  background: transparent;
  color: @background;
}

#workspaces button {
  color: @color2;
  background: transparent;
}

#workspaces button.visible {
  color: @foreground;
}

#workspaces button.focused {
  color: @foreground;
}

#workspaces button.urgent {
  color: #11111b;
}

#workspaces button:hover {
  background: transparent;
}

#clock,
#idle_inhibitor,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#backlight,
#battery,
#tray {
  color: @foreground;
  border-radius: 8px;
  border: solid @foreground 2px;
  padding: 0px 8px;
  background: rgba(10,13,21,0.8);
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 2px;
  margin-top: 6px;
}

tooltip {
  border-radius: 8px;
  color: @foreground;
  background-color: @background;
}
